@tailwind base;

@tailwind components;

@tailwind utilities;

.main-height {
  height: calc(100vh - 13.3rem);
}

.absolute-center {
  @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.fade {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.26));
}
body {
  @apply bg-horizon-black;
}
input:focus {
  outline-width: 0;
  box-shadow: 0 0 15px -3px #ff0011;
  @apply bg-horizon-gray;
}
input::selection {
  background-color: #c21621;
}
.body-wrapper {
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  overflow-y: hidden;
  overflow-x: hidden;
}
#queue-window {
  box-shadow: 0 0 20px black;
  scroll-snap-type: block mandatory;
  scroll-behavior: smooth;
}
#queue-window #queue-entry {
  scroll-snap-align: start;
}
img {
  max-width: unset;
}
.cropped {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.cropped img {
  width: 88px;
  margin-left: -19px;
}
.custom-scroll::-webkit-scrollbar {
  width: 0.7rem;
  @apply bg-horizon-black rounded;
}
.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-horizon-gray rounded;
}
.custom-scroll::-webkit-scrollbar-corner {
  display: none;
}
.waves-active {
  @apply opacity-100;
}
.active {
  @apply text-horizon-red font-normal;
}
.text-glow-red {
  text-shadow: 0 0 20px #ff0011;
  color: #ff373d;
}
.text-glow-red-2 {
  text-shadow: 0 0 12px #ff0011;
  color: #ff373d;
}
.table-space {
  border-spacing: 0 10px;
  border-collapse: separate;
}
.progress-gradient {
  background: linear-gradient(to right, #c21621, #ff9ea2);
  box-shadow: 0 0 20px 1px #ff0011;
}
.volume-slider {
  -webkit-appearance: none;
  cursor: pointer;
}
.volume-slider::-webkit-slider-runnable-track {
  @apply rounded-full;
  @apply transition-colors duration-200;
  border: none;
}
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply transition-colors duration-200;
  position: relative;
  top: -50%;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: none;
}
.volume-slider:focus {
  @apply bg-transparent;
}
.volume-slider:hover::-webkit-slider-thumb {
  /* @apply bg-horizon-red; */
  background-color: rgb(177, 0, 12);
}
.filter-glow-red {
  filter: drop-shadow(0 0 5px #ff0011);
}
.glow-ring-off::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 4px #242631;
}
.glow-ring-on::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 4px rgb(194, 24, 36);
  box-shadow: 0 0 20px 1px #ff0011, inset 0 0 15px 1px #ff00119f;
}
.glow-ring-on:hover::before {
  transition: box-shadow 200ms linear;
  box-shadow: 0 0 30px 1px #ff0011, inset 0 0 20px 1px #ff00119f;
}
.marquee {
  padding-left: 100%;
  white-space: nowrap;
  animation: marquee 10s linear 0s infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-280%);
  }
}
.flyout {
  left: 0;
  transform-origin: top left;
  animation: flyout 100ms ease-out 0s 1 forwards;
}
@keyframes flyout {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.25;
  }
  75% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.slide-enter {
  transform: translateY(120%);
}
.slide-enter-active {
  transform: translateY(0);
  transition: transform 350ms ease-in-out;
}
.slide-enter-done {
  transform: translateY(0);
}
.slide-exit {
  transform: translateY(0);
}
.slide-exit-active {
  transform: translateY(120%);
  transition: transform 350ms ease-in-out;
}
.slide-exit-done {
  transform: translateY(120%);
}

.bg-blur {
  backdrop-filter: blur(6px);
}

@font-face {
  font-family: "Euclid Triangle Regular";
  src: url("./fonts/EuclidTriangle-Regular.ttf");
}
@font-face {
  font-family: "Euclid Triangle SemiBold";
  src: url("./fonts/EuclidTriangle-SemiBold.ttf");
}
